<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main webpage</title>
</head>
<body>
    <h1>시범 테스트</h1>
    <form action="http://127.0.0.1:5000/crawling" method="POST">
        <p> URL <input type = "text" name = "URL"/></p>
        <input type="submit" value="crawling">
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>webpage crawling</title>
</head>
<body>
    <h2>기업 인턴 채용 크롤링 하기</h2>
    <form method="POST" action="/contents" autocomplete="off">
        <input type="checkbox" name="company" value="kakao">카카오</br>
        <input type="checkbox" name="company" value="naver">네이버</br>
        <input type="checkbox" name="company" value="line">라인</br>
        <input type="checkbox" name="company" value="coupang">쿠팡</br>
        <input type="checkbox" name="company" value="woowahan">배달의 민족</br>
        <input type="checkbox" name="company" value="daangn">당근마켓</br>
        <button type="submit" style="width:100px;">크롤링하기</button>
    </form>
</body>
</html>